<h3>以下の内容を送信します。</h3>
<%= form_with(model: @post,url: choose_new_or_edit) do |form| %>
  <%= form.hidden_field :content %>
  <p>投稿内容: <%= @post.content %></p>
  <%= form.submit '投稿する' %>
  <%= form.submit '送信する',name: 'back' %>
<% end %>
